.grid-container {
	width: 1050px;
	margin: 0 auto;
	grid-template-columns: repeat(4, 200px);
	display: grid;
	row-gap: 50px;
	column-gap: 50px;
	padding: 50px;
	background-color: #0c2d48;
	border-radius: 5px;
}

.card {
	width: 200px;
	height: 300px;
	padding: 20px;
	display: grid;
	grid-template-rows: 100px 40px 70px 50px;
	justify-items: center;
	align-items: center;
	background-color: #ffffff;
	border-radius: 5%;
}

.card img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.btn {
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	text-transform: capitalize;
	color: white;
	background-color: #f0615a;
	transition: all 0.3s linear;
	text-decoration: none;
}

.btn:hover {
	background-color: #f3817b;
}

.disabled-btn {
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	text-transform: capitalize;
	color: white;
	background-color: #d39592;
	text-decoration: none;
	outline: none;
	border: none;
}
